.formcon{
    text-align: center;
}
input{
    border: none;
    border-bottom:3px solid black ;
    margin: 10px;
    width: 30%;
}
input:focus{
    outline: none;
}
.card{
    border: 0px 3px 5px solid black;
    box-shadow: 0px 3px 5px black;
    padding-bottom:10px;
    width: 400px;
}
.card-header{
    font-family: 'Courier New', Courier, monospace;
}
.btn1{
    float: right;
    border: none;
    color: red;
}
.btn{
    margin: 10px;
}
h4{
    display: inline-block;
}