input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.section-body{
    background-color: gray; 
    height: 689px;
    width: 100%;
    opacity: 0.7;
}
.card{
    background-color: white;
    margin-top: 100px;
    padding: 20px;
    height: 60vh;
    opacity: 1;
    box-shadow: 3px 3px 3px black;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

input{
    border: none;
    border-bottom:3px solid black ;
}
label{
    width: 100%;
}
.form-floating{
    margin: 10px;
}