input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.section-body{
    margin:20px;
    opacity: 0.7;
}
.card{
    padding: 20px;
    height: 60vh;
    display: flex;
    box-shadow: 2px 2px 2px black;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

input{
    border: none;
    border-bottom:3px solid black ;
}
label{
    width: 100%;
}
.form-floating{
    margin: 10px;
}