<section class="section-body">
    <div class="mask align-items-center">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mt-5 mb-5">Create an account</h2>
                <form [formGroup]="registerForm" >
                            <div class="form-floating">
                              <input type="text"
                                       class="form-control"
                                       formControlName="name"
                                       autocomplete="off"
                                       placeholder="name"
                                       [class.border-danger]="registerForm.get('name').invalid && (registerForm.get('name').dirty || registerForm.get('name').touched || isFormSubmitted)"/>
                                       <div *ngFor="let validation of validationMessages.name">
                                           <small class="text-danger error" *ngIf="registerForm.get('name').hasError(validation.type) && (registerForm.get('name').dirty || registerForm.get('name').touched || isFormSubmitted)">
                                                    {{validation.message}}
                                           </small>
                                        </div>
                                <label class="fw-bold">Name 
                                    <span class="mandatory"> *</span>
                                </label>
                                
                            </div>
                            <div class="form-floating">
                              <input type="email"
                                    class="form-control"
                                    formControlName="userEmail"
                                    autocomplete="off"
                                    placeholder="abc@gmail.com"
                                    [class.border-danger]="registerForm.get('userEmail').invalid && (registerForm.get('userEmail').dirty || registerForm.get('userEmail').touched || isFormSubmitted)"/>
                                    <div *ngFor="let validation of validationMessages.userEmail">
                                        <small class="text-danger error" *ngIf="registerForm.get('userEmail').hasError(validation.type) && (registerForm.get('userEmail').dirty || registerForm.get('userEmail').touched || isFormSubmitted)">
                                                {{validation.message}}
                                        </small>
                                    </div>
                                <label class="fw-bold">
                                    Email
                                    <span class="mandatory"> *</span>
                                </label>
                                
                            </div>
                        <div class="form-floating">
                          <input type="number"
                                   class="form-control"
                                   autocomplete="off"
                                   formControlName="phNumber"
                                   placeholder="123456789"
                                   [class.border-danger]="registerForm.get('phNumber').invalid && (registerForm.get('phNumber').dirty || registerForm.get('phNumber').touched || isFormSubmitted)">
                                   <div *ngFor="let validation of validationMessages.phNumber">
                                    <small class="text-danger error" *ngIf="registerForm.get('phNumber').hasError(validation.type) && (registerForm.get('phNumber').dirty || registerForm.get('phNumber').touched || isFormSubmitted)">
                                             {{validation.message}}
                                    </small>
                                 </div>
                            <label class="fw-bold">Phone Number
                                <span class="mandatory"> *</span>
                            </label>
                            
                        </div>
                        <div class="form-floating">
                          <input type="password" 
                                   name="password"
                                   id="pwd"
                                   class="form-control"
                                   autocomplete="off"
                                   placeholder="password"
                                   formControlName="password"
                                   [class.border-danger]="registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched || isFormSubmitted)">
                                   <div *ngFor="let validation of validationMessages.password">
                                    <small class="text-danger error" *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched || isFormSubmitted)">
                                             {{validation.message}}
                                    </small>
                                 </div>
                            <label class="fw-bold">Password
                                <span class="mandatory"> *</span>
                            </label>
                            
                        </div>
                        <button class="btn btn-success  d-block mx-auto mb-5 mt-5" (click)="register()">Register</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>